@font-face {
  /* font from https://dafont.com/new.php */
  font-family: woodcutter;
  src: url(./fonts/woodcutter.ttf);
}

header {
  width: 80%;
  height: 350px;
  margin: 0 auto;
  position: relative;
  line-height: 40px;
}

.banner-img {
  width: 100%;
  height: 350px;
  position: absolute;;
  background-image: url(./imgs/topbg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: .8;
}

.banner-text {
  font-family:"woodcutter";
  font-size:40px;
  left: 20%;
  top: 70%;
  color: black;
  position: relative;
  margin: 0 auto;
}

.name {
  font-size: 60px;
}

article {
  width: 60%;
  font-family:monospace;
  margin: 30px auto;
}

/* main skills in plain text and short list  */
h1 {
  font-size: 15px;
  font-weight: 200;
  margin:30px auto;
}

/* only used for the first, main list */
.main-list {
  font-weight: 200;
  margin: auto;
  padding-left: 90px;
  padding-top: 15px;
  list-style-type: square;
}

/* large banner like section with
qoute to summarise the section below
background shold be done as a picture
with a qoutatinmark in the top left corner */
.section-header{
  font-family:"woodcutter";
  font-size:40px;
  color: white;
  background-color: black;
  width: 600px;
  margin: 30px auto;
  padding:30px;
}

/* sub heading explaining the qoute */
h2{
  font-weight: bold;
  font-size: 30px;
  margin:50px auto;

}

/* sub section heading */
h3{
  font-weight: bolder;
  font-size: 20px;
  margin:40px auto;
}

/* not ready yet */
h4{
  font-weight: bolder;
  font-style: italic;
  font-size: 20px;
  margin: auto;
}

/* plain text to explain sub sections */
p {
  font-size: 15px;
  font-weight: 200;
  margin:30px auto;
}
