
body {
    background-image: url("..//landingbg.jpg");
    background-repeat: no-repeat;
}

p {
    font-family: 'Arvo', serif;
    color: RGBA(0, 0, 0, 1);
    text-overflow: ellipsis;
    max-width: 300px;
    padding: 40% 0 0 15%;
}

.wrapper {
    background: RGBA(211, 236, 0, 0.7);
    width: 400px;
    height: 400px;
    margin: 10% 35%;
    display: flex;
    flex-flow: column;
    border-radius: 200px;
    position: static;
    font-size: 17px;
}
