h1 {
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  text-align: center;
  margin-top: 39px;
  letter-spacing: -.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin-left: -2.5px;
  line-height: 1.04;
  letter-spacing: -.028em;
}

h2 {
  text-align: center;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  color: rgba(0,0,0,.44);
  font-weight: 300;
  font-style: normal;
  font-size: 27px;
  margin-left: -1.69px;
  line-height: 1.22;
  letter-spacing: -.022em;color:
}

p {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  font-style: italic;
  color: rgba(0,0,0,.8);
  font-weight: 400;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
}

strong{
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  font-style: bold;
  color: rgba(0,0,0,.8);
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;

}

article {
  width: 700px;
  margin: 0 auto;

}

em {
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
}

body {
  margin: 0 0;
}

img{
  width: 100%;
}
