<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Calorie Counter</title>
</head>
<body>
<h1>Watch ya fat ass!</h1>
<h2>Dis much consumed:</h2>
<table>
    <tbody>
    <tr th:each="meal : ${meals}">
        <td th:text="${meal.name}"></td>
        <td th:text="' containing: '"></td>
        <td th:text="${meal.calories}"></td>
        <td th:text="'calories'"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/main/newmeal}" th:text="'Add new meal'"></a>
</body>
</html>