<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet"/>
    <link href="../static/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="wrapper">
    <h1>Please login</h1>
    <form method="post" name="feedback" id="feedback" th:action="@{/login}" role="form">
        <label about="username" th:text="'Username:'"></label>
        <input type="text" name="username"/>
        <label about="password" th:text="'Password'"></label>
        <input type="password" name="password"/>
        <div class="login_area">
            <button class="login_area_buttons" th:text="'Login'" type="submit"></button>
            <a class="login_area_buttons" th:href="'/main/register'" th:text="'Register'"></a>
        </div>
    </form>
</div>
</body>
</html>