<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <link rel="stylesheet" type="text/css" th:href="@{/templates/welcome/welcome.css}"
          href="../templates/welcome/welcome.css"/>
    <title>TripTracker: Welcome</title>
</head>
<header>
    <p th:text="'Bejelentkezve: ' + ${name} + ${id}"/>
</header>
<body>
<div class="wrapper">
    <a href="/welcome">link text</a>
</div>

</body>
</html>